<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Notes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-note">Create New Note</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-primary" role="alert">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
  <h1 class="text-center">Welcome to Notes Management System</h1>

  <div class="row">

    {% if allNotes %}

    {% for note in allNotes %}
    <div class="card col-4">
      <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content}}</p>
        <small>{{ note.id }}</small>
        <a href="#" class="btn btn-primary">See Note Detail</a>
        <a href="/delete-note/{{ note.id }}" class="btn btn-danger">Delete Note</a>
      </div>
    </div>

    {% endfor %}


    {% else %}
    <h3 class="text-center mt-5">Notes Not Found</h3>
    {% endif %}




  </div>

</body>

</html>